body{
    margin:0;
    background:#f6bb7d;
    font-family:"Times New Roman";
}

.header{
    text-align:center;
    height: 100px;
}

.header img{
    width:30%;
    height:60;
    padding: 5px;
}

.box{
    background:#ece8b6;
    border:2px solid #90b8d2;
    padding:10px;
    margin: 0px 10px;
}
.box a:hover{
    color:red;
}

.box p{
    margin: 3px;
}

.main{
    display:flex;
}

.content{
    width:90%;
    margin-top:50px;
    padding-left: 10px;;
}

.article{
    margin-bottom:30px;
}

.article h2{
    color:#c04ad9;
}

.article p{
    font-size:16px;
    line-height:1.3;
}

.rightimg{
    float:right;
    width:240px;
    margin-left:15px;
}

.leftimg{
    float:left;
    width:200px;
    margin-right:15px;
}

.sidebar{
    width:300px;
    background:#76ff98;
    padding:5px 10px;
    margin: 80px 10px 0px;
}

.sidebar h3, h4{
    color:#cc66ff;
}

.sidebar ul{
    padding-left:10px;
    list-style: none;
}

.sidebar ul li{
    margin-bottom:5px;
}

.sidebar a:hover{
    color:red;
}
